header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#headerButtons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.singlePost{
    border: 2px solid black;
}

.postName{
    font-size: x-large;
    color: brown;
}

.postTitle{
    font-size: xx-large;
    color: brown;
}

.description{
    color: blue;
}

.individualMessage{
    border: 2px solid blue;
}
